
/*.MainApp{
  margin: auto;
  margin-top: 5%;
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: rgb(228, 242, 237);
  border-radius: 10px;
}



.btn {
  width: 20%;
  background-color: rgb(23, 144, 61);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

*, *:before, *:after {
  box-sizing: border-box;
}
.header{
  
  font-size: 20pt;
  margin-bottom: 15px;
  font-weight: bold;
}
.TaskName{
  display: inline-block;
  font-size: 16pt;
  width: 50%;
  text-align: start;
}
.EditInput{
  display: inline-block;
  font-size: 14pt;
  width: 70%;
  text-align: start;
}

.YN{
  width: 14%;

  background-color: rgb(23, 144, 61);
  color: white;
  padding: 5px 10px;
  margin: 8px 1px;
  border: rgb(56, 56, 56);
  border-radius: 4px;
  cursor: pointer;
}

.InputTaskName {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(23, 144, 61);
  border-radius: 4px;
  box-sizing: border-box;
}
*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  
  font-size: 20pt;
  margin-bottom: 15px;
  font-weight: bold;
  margin-left: 45%;
}
